/* .App {
  text-align: center;
} */

html {
  font-size: 16px;
}
.grided{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: max-content;
  gap: 20px;
  /* background-color: aquamarine; */
}




.w_responsive {
  width: 85%;
  /* margin: 0 auto; */
  margin-top: 1rem;
}

@media (max-width:1024px) {
  .navitemshidden {
    height: 0px;
    visibility: hidden; 
    transform: translateY(0);
  }
  .navitemsSm {
    display: flex;
    height: max-content; 
    transition: all 0.2s ease-in;
  visibility: visible;
    opacity: 1;
    transform: translateY(7px);
  }
}
@media (min-width:500px) {
  html {
    font-size: 18px;
  }

  .w_responsive {

    width: 45%;
  }
}

@media (min-width:750px) {
  html {
    font-size: 19px;
  }

  .w_responsive {
    width: 30%;
  }

}

@media (min-width:1024px) {
  html {
    font-size: 20px;
  }

  .w_responsive {
    width: 30%;
  }

  .navitemsForlg {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: static;
    visibility: visible;
    width: 100%;

  }
}

.vis {
  display: flex;
}

.bgred {
  background-color: #e92a5e;
}

.bgblue {
  background-color: #5226b6;
}

.brblue {
  border: 1px solid #5226b6;
}

.borderRed {
  border: 1px solid #e92a5e;
}

.clrred {
  color: #e92a5e;
}


.redOnHover:hover {
  color: #e92a5e;
}

.bgredOnHover:hover {
  background-color: #e92a5e;
}


.animated {
  opacity: 0;
  position: relative;
  transform: translateY(80px);
  transition: 1s all ease-out;
}

.animated.show {
  opacity: 1;
  transform: translateY(0);
}

.shadowred:hover {
  box-shadow: 0px 0px 17px -2px #e92a5e;
  ;
  -webkit-box-shadow: 0px 0px 6px -2px #e92a5e;
  -moz-box-shadow: 0px 0px 6px -2px #e92a5e;
}

.shadowblue:hover {
  box-shadow: 0px 0px 17px -2px #5226b6;
  ;
  ;
  -webkit-box-shadow: 0px 0px 6px -2px #5226b6;
  ;
  -moz-box-shadow: 0px 0px 6px -2px #5226b6;
  ;
}

.shadow {
  box-shadow: 0px 0px 17px -1px grey;
  ;
  ;
  -webkit-box-shadow: 0px 0px 10px -1px grey;
  ;
  -moz-box-shadow: 0px 0px 10px -1px grey;
  ;
}
.dropdown-menu {
  /* display: none;
   */
   visibility: hidden;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateY(50px);
  transition: all 1s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;


  /* background-color: #5226b6; */
}

.showw {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  background-color: #e92a5e;
}